/* External CSS file for Soft UI Dashboard style */
/* Heading style
 --color-primary: hsl(258, 83%, 62%);
    --color-primary-light: #96a9cb;
    --color-grey-1: #2e2e2e;
    --color-grey-5: #6f6f6f;
    --color-grey-10: #f1f5f8;
    --color-white: #fff;
    --ff-primary: "Catamaran", sans-serif;
    --ff-secondary: "Nunito", sans-serif;
    --transition: all 0.3s linear;
    --spacing: 0.25rem;
    --radius: 0.5rem; */
.heading {
    text-align: center; /* Center align the heading */
    margin-bottom: 20px; /* Add margin at the bottom for spacing */
}

body {
    background-color: #f3f3f3;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.table-container {
    width: 100%;
    overflow-x: auto;
    max-width: 800px;
    margin: 0 auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ccc;
}

th {
    background-color: hsl(258, 83%, 62%);
    color: #fff;
    font-size: 16px;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.main-content {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Button style */
.btn-secondary {
    background-color: hsl(258, 83%, 62%);
    color: #fff;
    padding: 12px 24px; /* Increase padding for a larger button */
    border: none;
    cursor: pointer;
    font-size: 18px; /* Increase font size for a bolder look */
    margin-left: 10px;
    transition: background-color 0.3s ease; /* Add transition for smooth hover effect */
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1); /* Add box shadow for depth */
}

/* Button hover effect */
.btn-secondary:hover {
    background-color: hsl(258, 83%, 62%);
    transform: scale(1.05); /* Add scale effect on hover for interactivity */
}

