/* FONTS
============== */


@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&family=Grand+Hotel&family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap');

/* CSS VARIABLES 
============== */
:root{
    --color-primary: hsl(258, 83%, 62%);
    --color-primary-light: #96a9cb;
    --color-grey-1: #565656;
    --color-grey-5: #6f6f6f;
    --color-grey-10: #f1f5f8;
    --color-white: #fff;
    --ff-primary: "Catamaran", sans-serif;
    --ff-secondary: "Nunito", sans-serif;
    --transition: all 0.3s linear;
    --spacing: 0.25rem;
    --radius: 0.5rem;
}


/* GLOBAL CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: var(--ff-primary);
    background: var(--color-white);
    color: var(--color-grey-1);
    line-height: 1.5rem;
    font-size: 0.875rem;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
    display: block;
}

h1,h2,h3,h4{
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;

}

h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.5rem;
}
h4{
    font-size: 0.875rem;
}
p{
    margin-bottom: 1.25rem;
}

@media screen and (min-width:800px) {
    
    h1{
        font-size: 4rem;
    }
    h2{
        font-size: 2.5rem;
    }
    h3{
        font-size: 2rem;
    }
    h4{
        font-size: 1rem;
    }
    body{
        font-size: 1rem;
    }
    h1,h2,h3,h4{
        line-height: 1;
    }
}

.btn{
    
    background-color: var(--color-primary-light);
    text-transform: uppercase;
    color: var(--color-primary);
    letter-spacing: var(--spacing);
    padding: 0.8rem 1.3rem;
    display: inline-block;
    font-weight: 700;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    transition: var(--transition);
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}

.btn:hover{
    color: var(--color-primary-light);
    background-color: var(--color-primary);
    outline-color: var(--color-primary);

}

.clearfix::after, .clearfix::before{
    content:"";
    clear: both;
    display: table;

}

.section-heading h3{
    font-family: var(--ff-secondary);
    color: var(--color-primary);
}

.section-heading{
    margin-bottom: 2rem;
}

.section-centre{
    padding: 4rem 0;
    width: 80vw;
    margin: 0 auto;
    max-width: 1170px;
}



@media screen and (min-width: 992px){
    .section-centre{
        width: 95vw;
        padding: 2rem 1rem;
    }
    
}


/* NAVBAR */
.nav-btn{
    cursor: pointer;
    position:fixed ;
    font-size: 2rem;
    font-weight: 800;
    color: var(--color-primary);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #323232;
    z-index: 1;
    left: 5%;
    top: 5%;
    /* animation: bounce 3s ease infinite; */
}

.navbar{
    position: fixed;
    background: var(--color-white);
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    box-shadow: 0.5rem 0 0.5rem rgba(0,0,0,0.2);
    transition: var(--transition);
    
    /*hide navbar */
    transform: translateX(-100%);
}

.showNav{
    transform: translate(0);
}

.navbar-header{
    text-align: right;
}

.close-btn{
    display: block;
    font-size: 1.5rem;
    padding:1rem 1.5rem;
    color: var(--color-primary);
    transition: var(--transition);
    cursor: pointer;
    transition: var(--transition);

}

.close-btn:hover{
    color: rgb(220, 52, 52);

}

.nav-items{
    list-style: none;
}

.nav-links{
    display: block;
    /* border: 1px solid red; */
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: var(--color-grey-5);
    transition: var(--transition);
}

.nav-links:hover{
    background: var(--color-primary-light);
    color: var(--color-primary);
    padding-left: 1.5rem;
    border-left: 5px solid var(--color-primary);

}
.navbar.showNav {
    transform: translateX(0);
  }
  
@media screen and (min-width:768px) {
    .navbar{

        width: 30vw;
        max-width: 30rem;
    }

}
